.wrapper {
  width: 200px;
  display: flex;
  height: 100%;
}

input {
  width: 100%;
  height: 100%;
  background-color: #a05175;
  border-color: #5e82a3;
  border: none;
}

::-webkit-input-placeholder {
  color: black;
}
